
header.headerPage{
	background-color: black;
	position:sticky;
	height:66px;
	margin: auto;
}

img.headerPage{
	float:left;
	margin: 20px 220px 25px 130px;
}
nav.headerPage{
	float: left;
	margin: 21px 0px ;
}
a.headerPage{
	position: relative;
	color: white;
	font-weight: 700;
	float: left;
	margin: 0px 45px;
	text-decoration: none;
	font-family: cursive;
}
a.headerPage:hover{
	color: blue;
}
div.bg{
	width: 1520px;
	height:680px;
	position: absolute;
	background-image: url("../images//banner.png");
	background-repeat: no-repeat;
	background-position: center top; 
	z-index: -1;
}
h1{
	font-size: 50px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-family: "Helvetica Neue";
	text-align: center;
	margin: 0 0 24px 0;
}
p.bnText{
	color: white;
	text-transform: none;
	font-weight: normal;
	text-align: center;
	font-size: 20px;

}
a.bnBtn{
	display: block;
	margin: 24px auto 0 ;
	background-color: red;
	color: white;
	width:166px;
	height: 49px;
	font-size: 14px;
	text-transform: uppercase;
	padding: 17px;
	box-sizing: border-box;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
}
a.bnBtn:hover{
	background-color: #8d0300;
}
.bnCap{
	margin-top: 120px;
}
main{
	margin: 310px auto 0;
	box-sizing: border-box;
	min-height: 650px;
	background: linear-gradient(97deg, white 0% 50%, rgb(22,22,22) 50%, rgb(34,34,34) 100%);
	line-height: 1.5;
}
article.left{
	display:block;
	float:left;
	margin: 65px 0 0px 126px;
	width: 460px;
	font-size: 20px;
}
article.right{
	display:block;
	float: right;
	margin: 65px 126px 0px 0;
	width: 460px;
	color: white;
	font-size: 20px;
}
h2{
	font-size: 36px;
	margin-bottom: 15px;
}
div.left{
	 border:1px;
	 color: red;
	 border: solid; 
	 width:50px; 
	 height:0px;
}
div.right{
	 border:1px;
	 color: red;
	 border:solid; 
	 width:50px; 
	 height:0px;
}
p.leftDescription{
	display: block;
	width: 460px;
	font-size: 22px;
	font-style: italic;
	margin: 30px 0;
}
p.rightDescription{
	display: block;
	width: 460px;
	font-size: 22px;
	font-style: italic;
	margin: 30px 0;
}
p.left{
	display: block;
	width: 460px;
	font-size: 15px;
	margin: 15px 0;
	color: black;
}
p.right{
	display: block;
	width: 460px;
	font-size: 15px;
	margin: 15px 0;
	color: white;
}
footer{
	height:180px;
	padding-top: 35px;
	background-color: #111111;
}
div.footer{
	float: left;
	width: 200px;
	margin: 0px 30px 30px 0;
}
div.footer:first-of-type{
	float: left;
	width: 200px;
	margin: 0px 30px 30px 200px;
}
div.footer:last-of-type{
	float: left;
	width: 300px;
	margin: 0px 0px 30px 0px;
}

span.footerCaption{
	display: block;
	color:white;
	text-transform: uppercase;
	margin-bottom: 10px;
}
span.footer{
	display: block;
	color: #999999;
	margin-top: 30px;
	margin-bottom: 10px;
	opacity: 0.5;
}
a.footer{
	display:block;
	color: #999999;
	text-decoration: none;
	margin-bottom: 10px;
}
a.footer:hover{
	color: white;
}
a.FontAwesome{
	display:inline-block;
	width:45px;
	height:45px;
	border-radius: 22px;
	color: white;
	background-color: black;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	padding: 14px 0 0 0;
	box-sizing: border-box;
}
a.FontAwesome:hover{
	color: red;
	background-color: white;
}