.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: white;
    padding: 20px;
  }
  
  
  .search-container {
    display: flex;
    align-items: center;
    margin-right: 400px;
  }
  
  .search-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    width: 300px;
  }
  
  .search-container button {
    background-color: white;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 20px;
  }
  
  .search-container i {
    color: #ccc;
    
  }

  nav {
    background-color: #0058a3;
    margin-right: 660px;
    width: 1252px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
 
  }
  
  nav li {
    margin: 10px;
  }
  nav ul :hover {
    cursor: pointer;
    color:white;
    background-color: rgba(11, 11, 105, 0.482);
  }
  
  nav a {
    color: white;
    text-decoration: none;
    
  }

  button-image {
    cursor: pointer;

  }

  Image:hover {
      cursor: pointer;
      box-shadow: inset;
  }
  