*,
*::before,
*::after {
	box-sizing: border-box;
}

.f-container-1 {
	border: 2px solid orange;
	width: 1200px;
	height: 800px;
	margin: 40px auto;

	/*
		===== DEMO FLEX =====
		display: flex;
		flex-direction: row, row-reverse, column, column-reverse;
		
		justify-content: flex-start, flex-end, center, space-between, space-around;
			    default: main axis

		align-items: flex-start, flex-end, center, stretch, baseline;
				default: cross axis;
				stretch: remove height;
				baseline: base on content line;
	*/
	display: flex;
	flex-direction: row;

	justify-content: space-around;
	align-items: baseline;

}

.f-container-1 .f-item {
	height: 220px;

	font-size: 2rem;
	opacity: 0.6;

	/* DEMO FLEX */
	display: flex;
	justify-content: center;
	align-items: center;
}

.f-container-1 .f-item:nth-child(1) {
	width: 180px;
	height: 180px;
	background-color: red;
}

.f-container-1 .f-item:nth-child(2) {
	width: 220px;
	height: 220px;
	background-color: green;
	align-self: center;
}

.f-container-1 .f-item:nth-child(3) {
	width: 260px;
	height: 260px;
	background-color: blue;
	align-self: flex-end;
}

/*=======================
====== CONTAINER 2 ======
=========================*/

.f-container-2 {
	border: 2px solid red;
	width: 1200px;
	height: 800px;
	margin: 40px auto;

	/* 
		DEMO FLEX 
		flex-wrap: wrap, nowrap
			nowrap: auto shrink

	*/
	display: flex;
	flex-wrap: nowrap;
}

.f-container-2 .f-item {
	height: 220px;

	font-size: 2rem;
	opacity: 0.6;

	/* DEMO FLEX */
	display: flex;
	justify-content: center;
	align-items: center;
}

.f-container-2 .f-item:nth-child(1) {
	width: 400px;
	background-color: red;
	order: 2;
}

.f-container-2 .f-item:nth-child(2) {
	width: 440px;
	background-color: green;
	order: 1;
}

.f-container-2 .f-item:nth-child(3) {
	width: 480px;
	background-color: blue;
	order: 0;
}

/*=======================
====== CONTAINER 3 ======
=========================*/

.f-container-3 {
	border: 2px solid red;
	width: 1200px;
	height: 800px;
	margin: 40px auto;

	
	display: flex;
}

.f-container-3 .f-item {
	height: 220px;
	font-size: 2rem;
	opacity: 0.6;

	/*width: 200px;*/
	/*min-width: 200px;*/

	/* DEMO FLEX */
	display: flex;
	justify-content: center;
	align-items: center;
}

.f-container-3 .f-item:nth-child(1) {
	background-color: red;

	/*override width/height*/
	flex-basis: 100px;
	flex-grow: 2;
}

.f-container-3 .f-item:nth-child(2) {
	background-color: green;
	flex-basis: 400px;
	flex-grow: 1;
}

.f-container-3 .f-item:nth-child(3) {
	background-color: blue;
	flex-basis: 400px;
	flex-grow: 1;
}