* {
	font-family: corble;
	font-size: 18px;
	line-height: 1.2;
}
.wrapper{
	width: 88%;
	height: 100%;
	margin: 0 auto;
}

#page-main .wrapper::after,
#page-footer .wrapper::after{
	content: '';
	display: block;
	clear: both;
}
/*header*/

#page-header {
	height: 68px;
	background-color: #1e1e1c;
}

#page-header .wrapper>*{
	line-height: 66px;
}

#logo {
	float: left;
}

#header-nav{
	float: right;
}

#header-nav li {
	float: left;
	margin-left: 48px;
}

#header-nav li a{
	color: #fff;
	text-transform: uppercase;
/*	transition: all 0 1s ease-in-out;*/
}
#header-nav li a:hover{
	color: #f92447;
}

#header-nav li a:hover::after{

	content: ' ';
	display: block;
	height: 2px;
	background: darkred;
	position: relative;
	top: -18px;
}

/*main*/
/*banner*/
#banner {
	background-image: url(../images/banner.png);
	background-size: cover;
	height: 1224px;

	display: flex;
	justify-content: center;
	align-items: center;
}
#banner-block{
	text-align: center;
}

#banner-block>*{
	margin: 0 auto;
	text-align: center;
}

#banner-block .title{
	color: #fff;
	font-size: 60px;
	text-transform: uppercase;
	font-weight: bold;
	word-spacing: 20px;
}

#banner-block .sub-title {
	color: darkred;
	font-size: 28px;
}

#banner-block .more {
	color: #ebe8eb;
	font-size: 22px;
	text-transform: uppercase;
	display: inline-block;

    background: darkred;
    padding: 16px 30px;
    cursor: pointer;
    border-radius: 10px;
}

#banner-block .more:hover{
	font-size: 26px;
}


#page-main .wrapper {
	padding-top: 80px;
}

#page-main {
	background: linear-gradient(95deg,#fff 0%,#fff 50%,#000 51%, #000 100%);
}


/*post*/
.post{
	width: 50%;
	float: left;

}

.post:first-child{
	padding-right: 100px;
	color: #000;
}

.post:last-child{
	padding-left: 100px;
	color: #ebe8eb;
}

.post .title {
	font-weight: bold;
}

.post .title::after{ 
	content: ' ';
	display: block;
	width: 60px;
	height: 2px;
	background: darkred;
	margin: 18px 0;
}

.post .highlight{
	font-size: 22px;
	margin-bottom: 18px;
}
.post .content{
	line-height: 1.6;
	text-align: justify;
	font-size: 22px;
}

/*footer*/

#page-footer{
	background: #1e1e1c;
	padding: 22px 0;

}
#page-footer a{
	color: #8f8f8f;
}

#page-footer a:hover{
	color: #ececec;
}

#page-footer .col{
	font-size: 18px;
	width: 25%;
	float: left;
}

#page-footer .col li{
	line-height: 1.4;
}

#page-footer .col .title a{
	color: #ececec;
	font-size: 20px;
	text-transform: uppercase;
}
#page-footer .col .title::after{
	content: '';
	display: block;
	top: 20px;
	height: 1px;
	width:60% ;
	background: #8f8f8f;
	margin: 20px 0;
}