/*2.Float*/

article div.image{
background-color: lightblue;
width: 200px;
height: 200px;

float: left;
}
article p.text{
/*clear: left;*/
}
.clearfix{
	clear: both;
}

/*p{
	font-family: 'Licorice', cursive;
	font-size: 5rem;
}*/


/*.container{
	background-color: lightgray;
	width: 200px;
	height: 200px;
}*/

/*1. Text Style*/

/*gọi thẻ p bên trong thẻ header để chỉnh căn giữa*/
header{
/*	background-color: rgb(190,233,128);*/
    background-color: #ab8cab;
	height: 60px;
}

header p{
     text-align: center;
     font-size: 22px;
     line-height: 60px;
/*line-height : chỉnh cho p nằm giữa header     */
}
.students{
	list-style: url(../images/world.png);/*decimal*/
	padding-left: 32px;
}

.text-selector{
	font-size: 16px;
	font-family: Corbel;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	text-transform: uppercase; /* chỗ được chọn rõ ràng hơn*/
}


.ex06-block-md{
	width: 300px;
	height: 300px;
	border: 2px solid #ececec;
	box-sizing: border-box;
}
.ex06-bg-orange{
	background-color: orange;
}
.ex06-bg-green{
	background-color: green;
}
.ex06-bg-blue{
	background-color: blue;
}
.ex06block-b{
	position: absolute;
	left: 200px;
	top: 100px;
}
.ex06block-c{
	position: absolute;
	left: 50px;
	top: 50px;
}
.ex06-parent-block{

}
.page-title::after{
	box-sizing: border-box;
}
.page-title h1{

}
.search-font label{
position: relative;
left: 30px;
top: 1px;
}
.search-font input[type="search"]{
     padding: 2px 30px ;
     margin-right: 10px;
}
.search-font input[type="button"]{
	padding: 2px 4px;
	cursor: pointer;
}
.ex07 * {
    /*
      block
      inline
      inline-block
      none
    */

	display: inline-block;
}


.page-title.search-font{
	float: right;
}

.gradient-block{
	width: 320px;
	height: 200px;
	background: linear-gradient(135deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 31%,rgba(32,124,202,1) 58%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+,*/
}
/*.test-box-shadow{
	box-shadow: 20px 10px orange;
}*/

.blog{
    
}

.logo{
width: 300px;
height: 200px;
background-color: orange;
}
/*.text {
	text-align: center;
     font-size: 22px;
     line-height: 60px;
	
}
*/